/*bif tablet to small labtobs*/
@media only screen and (max-width:1366px){
     html{
         font-size: 15px;
         
     }
     .box h3{
         width:40%
     }
}


@media only screen and (max-width:1023px){
        section{
            padding: 60px 0;
        }
        .nav-list{
            display:none;
        }
        .header-box h2{
            font-size: 2rem;
        }
        html{
            
        }
        .col.span-1-of-3.box {
            margin-left: 4rem;
            
        }
        .col.span-1-of-4.adj{
            margin-left: 8rem;
            width: 30%;
            margin-bottom: 8rem;

        
        }
        .col.col.span-1-of-4.adj.a-3,
        .col.col.span-1-of-4.adj.a-6{
            margin-right: 8rem;
        }
        .text .btn.btn-full{
            font-size: 14px;
            padding: 0.8rem 1rem;
        }
        .col.span-1-of-3.where{
            margin-left: 6rem;
            margin-bottom: 2rem;
        }
        

}
@media only screen and (max-width:767px){
    
   .header-box h1{
        font-size: 180%;
    }
   .header-box h2{
        font-size: 150%;
    }
    .col.span-1-of-3.where,.col.span-1-of-3.box,.col.span-1-of-4.adj,.col.span-1-of-4.text{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .col.span-1-of-3.where p{
        width: 60%;
        margin: 0 auto;
    }
    .col.span-1-of-4.text{
        margin-bottom: 4rem;
    }




}